# Ignore virtual environment folders
venv/
venv_new/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment variables file
.env

# Ignore IDE/editor specific files (optional)
.vscode/
.idea/
